.container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ul {
    display: flex;
    gap: 55px;
    margin-right: 205px;
}

.ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #5E6085;
}
.active {
    color: #000958;
}

.headerButton {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #000958;
    width: 117px;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(0, 9, 88, 0.7) ;
    border-radius: 5px;
    cursor: pointer;
}