.ContactUs {
    margin-top: 150px;
    height: 640px;
}

.leftSide {
    width: 55%;
}

.rightSide {
    width: 45%;
    position: relative;
}

.ContactUs form {
    display: flex;
    align-items: center;
}

.ContactUs form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #48496A;
    display: flex;
    align-items: center;
}

.ContactUs form label span {
    margin-right: 20px;
}


.second{
    margin-left: 36px;
}

.checkbox{
    display: none;
    transform:scale(1.3);
}

.fake{
    display: inline-flex;
    width: 24px;
    height: 24px;
    background-color: #FF5D31;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

.leftSide p {
    margin-top: 30px;
}

.buttonsBlock {
    display: flex;
    align-items: center;
}

.buttonsBlock img {
    width: 52px;
    height: 39px;
    margin-left: 30px;
}

.buttonsBlock a {
    text-decoration: underline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #48496A;
}

.icons {
    position: absolute;
    left: 0px;
}